* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.container {
    display: flex;
    height: 500px;
    width: 800px;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
}



.right-pannel{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: antiquewhite;

}

h1{
font-size: 3rem;
margin: 40px;
}



.yot{
    padding: 12px;
    width: 65%;
    margin: 11px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}

.btn-signup{
    padding: 12px 30px;
    width: 40%;
    margin-top: 38px;
    background-color: black;
    color: azure;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}

.btn-signup:hover{
    cursor: pointer;
    background-color: rgb(235, 171, 255);
}

body{
   background-color: rgb(255, 235, 246);
}

.left-pannel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: rgb(255, 246, 233);

}

.left-pannel img{
    width: 400px;
    height: 450px;
}